
.score{
    margin-top: 5em;

    .circle{
        width: 80px;
        height: 80px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        float: left;   
    }

    .circleTurnTurn{
        display: inline-block;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        // float: left;   
    }


    .black{
        background: black;
    }
    
    .white{
        border: 1px solid black;
        background: white;
    }
    
    .scoreInformation{
        margin-top: 1em;
        font-size: 1.3em;
    
    }

    .inputPlayerName{
        margin-top: 3em;
    }
    
    .playerName{
        font-size: 1.7em;
        font-weight: bold;
    }

    .lastMove{
        font-size: 1.8em;
        font-weight: bold;
    }

    .inputPlayer{
        input{

            font-size: 1.2em;
        }
    }

    


}

.result{
    margin-top: 2em;

    p{
        margin-bottom: 1em;
    }

    .circleTurnTurn{
        display: inline-block;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    .black{
        background: black;
    }
    
    .white{
        border: 1px solid black;
        background: white;
    }

    .resultGameOwer{
        color: blue;
        font-size: 1.5em;
        font-weight: bold;
    }

    .move{
        color: blue;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.buttons{
    margin-top: 4em;

    button{
        width: 40%;
        display: inline-block;
        height: 3em;
    }

    .start{
        background-color: chartreuse;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 0.5em;
    }

    .inputNamePlayer{
        background-color: deepskyblue;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 0.5em;

    }

    .pass{

        background-color: darkorange;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 0.5em;

    }

    .surrender{

        background-color: red;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 0.5em;

    }

   


}




